.section2 {
  @include questionMainArea($primary, $lightPink, $light, $strongBlue);
  @include questionSideArea($strongBlue, $lightPink, $dark, $light);
  background: $primary;
  
  .square {
    top: 908px;
    left: 69px;
    width: 179px;
    height: 179px;
  }

  .circle {
    top: 1304px;
    left: 82px;
    width: 402px;
    height: 402px;
  }

  .triangle {
    top: 1120px;
    left: 299px;
    border-width: 0 73.5px 127.3px 73.5px;
  }

  .main {
    opacity: 0;
    transition: all .5s linear;
  }

  .side {
    transition: all .5s linear;
  }
}

// => slide in
@keyframes sec2-side-slidein {
  0% {
    transform: translateX(422px);
  }
  100% {
    transform: translateX(0px);
  }
}

.sec2-side-slidein {
  animation: sec2-side-slidein 1s ease-out 0s forwards;
}

@keyframes sec2-main-fadein {
  100% {
    opacity: 1;
  }
}

.sec2-main-fadein {
  animation: sec2-main-fadein 1s linear 1s forwards;
}

@keyframes sec2-square-slidein {
  100% {
    top: 108px;
  }
}

.sec2-square-sildein {
  animation: sec2-square-slidein 1s ease-out 1s forwards;
}

@keyframes sec2-triangle-slidein {
  100% {
    top: 320px;
  }
}

.sec2-tri-sildein {
  animation: sec2-triangle-slidein 1s ease-out 1s forwards;
}

@keyframes sec2-circle-slidein {
  100% {
    top: 504px;
  }
}

.sec2-circle-sildein {
  animation: sec2-circle-slidein 1s ease-out 1s forwards;
}

// =>animation
@keyframes sec2-square-rotate {
  0% {
    top: 108px;
  }
  100% {
    transform: rotate(360deg);
    top: 108px;
  }
}

.sec2-square-rotate {
  animation: sec2-square-rotate 4s linear 0s infinite;
}

@keyframes sec2-triangle-rotate {
  0% {
    top: 320px;
  }
  100% {
    transform: rotate(-360deg);
    top: 320px;
  }
}

.sec2-tri-rotate {
  animation: sec2-triangle-rotate 3.5s linear 0s infinite;
}

@keyframes sec2-circle-scale {
  0% {
    top: 504px;
  }
  50% {
    transform: scale(1.1);
    top: 504px;
  }
  100% {
    transform: scale(1);
    top: 504px;
  }
}

.sec2-circle-scale {
  animation: sec2-circle-scale 3s linear 0s infinite;
}