.section4 {
  @include questionMainArea($lightPink, $light, $dark, $dark);
  @include questionSideArea($primary, $strongBlue, $light, $dark);
  .square {
    top: 1000px;
    left: 65px;
    width: 328.5px;
    height: 328.5px;
    transform: rotate(92deg);
  }

  .circle {
    top: 1000px;
    left: 211px;
    width: 312px;
    height: 312px;
  }

  .triangle {
    top: 1000px;
    left: 137px;
    border-width: 0 120px 207.8px 120px;
    transform: rotate(-150deg);
  }

  .main {
    width: 1024px;
    transition: all .5s linear;

    .content {
      opacity: 0;
      transition: all .5s linear;
    }
  }

  .side {
    width: 0px;
    transition: all .5s linear;
  }
}

// => slide in
@keyframes sec4-square-slidein {
  100% {
    top: 111px;
  }
}

.sec4-square-sildein {
  animation: sec4-square-slidein 1s ease-out 1s forwards;
}

@keyframes sec4-triangle-slidein {
  100% {
    top: 510px;
  }
}

.sec4-tri-sildein {
  animation: sec4-triangle-slidein 1s ease-out 1s forwards;
}

@keyframes sec4-circle-slidein {
  100% {
    top: -28px;
  }
}

.sec4-circle-sildein {
  animation: sec4-circle-slidein 1s ease-out 1s forwards;
}

// =>animation
@keyframes sec4-square-rotate {
  0% {
    top: 111px;
  }
  100% {
    transform: rotate(454deg);
    top: 111px;
  }
}

.sec4-square-rotate {
  animation: sec4-square-rotate 4s linear 0s infinite;
}

@keyframes sec4-triangle-rotate {
  0% {
    top: 510px;
  }
  100% {
    transform: rotate(-510deg);
    top: 510px;
  }
}

.sec4-tri-rotate {
  animation: sec4-triangle-rotate 3.5s linear 0s infinite;
}

@keyframes sec4-circle-scale {
  0% {
    top: -28px;
  }
  50% {
    top: 48px;
  }
  100% {
    top: -28px;
  }
}

.sec4-circle-scale {
  animation: sec4-circle-scale 3s linear 0s infinite;
}