<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Parallax Scrolling
    link(rel="stylesheet", href="css/all.css")
  body
    .section1
      .title
        h1 GEOMETRY PERSON
        p find your core personality type in shapes!
      .square
      .circle
      .triangle
        .top
        .bottom
    .section2
      .main
        .content
          h1 Q1
          h2 If one day you get a gift that can change the rule of the world, which ability will you choose?
          p Choose the answer appeared in your mind instantly
          button.btn Destroy all humans in the world
          button.btn Make the war never happened
          button.btn You won’t get old and live forever
      .side
        .square
        .triangle
        .circle
    .section3
      .main
        .content
          h1 Q2
          h2 Imagine you’re almost late, but totally lost at a forked road. Which way do you prefer to go?
          p Choose the answer appeared in your mind instantly
          button.btn The left one
          button.btn The right one
          button.btn Open Google Map
      .side
        .square
        .triangle
        .circle
    .section4
      .main
        .content
          h1 Q3
          h2 When you’re in a exam which you barely prepared for, which is your priority solution?
          p Choose the answer appeared in your mind instantly
          button.btn Take a nap right away
          button.btn Fill the answer randomly
          button.btn All fill the answer "C"
      .side
        .square
        .triangle
        .circle
    .calculating-1
      .content
        h1.title ALL DONE!
        p.subtitle Keep scrolling to show the result
      .triangle-1
      .triangle-2
      .triangle-3
      .triangle-4
      .triangle-5
      .triangle-6
      .triangle-7
    .calculating-2
      .content
        h1.title NOW CACULATING
        p.subtitle Keep scrolling to show the result
      .square-1
      .square-2
      .square-3
      .square-4
      .square-5
      .square-6
      .square-7
    .calculating-3
      .content
        h1.title YOU ARE…
        p.subtitle Keep scrolling to show the result
      .circle-1
      .circle-2
      .circle-3
      .circle-4
      .circle-5
      .circle-6
      .circle-7
    .result-triangle
      .bg-triangle
        .tri-1
        .tri-2
        .tri-3
        .tri-4
        .tri-5
        .tri-6
        .tri-7
      .content
        p.subtitle Your personality type is
        h1.title TRIANGLE
        .inner
          h2 AGGRESSIVE
          h2 INDEPENDENT
          h2 SELF-MOTIVATED
          p The triangle type people are natural-born leaders, full of passion and motivation,  trying to fix their mistakes as they go.
          button.reload TRY AGAIN
      .triangle-1
      .triangle-2 ▲
      .triangle-3
    script(src="js/all.js")